/* Styling for the NEO list */
.neo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.neo-list li {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  display: inline-block;
}

.neo-list li strong {
  font-weight: bold;
}

/* Default styles */
 body, h1, p {
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: #cbcbcb;
}

/* Header Styles */
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

h2 {
  margin-left: 10px;
}

/* Paragraph Styles */
p {
  margin-left: 20px;
  font-size: 18px;
}

p.center {
  text-align: center;
}

/* Form Styles */
form {
  text-align: center;
}

/* Form Label Styles */
label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

/* Input Styles */
input[type="date"],
input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

/* Date Input Styles */
.date-inputs {
  text-align: center;
}

.date-inputs label, .date-inputs input[type="date"] {
  display: inline-block;
  margin-right: 10px;
}

/* Table Styles */
table {
  width: 95%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Table Header Styles */
th {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Table Data Styles */
td {
  padding: 10px;
  text-align: center;
}

/* Alternating Row Styles */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover Effect */
tr:hover {
  background-color: #ddd;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  table {
    width:100px;
  }
}