<!DOCTYPE html>
<html>

<head>
	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="author" content="Astra Dedman">
	<meta name="title" content="Near Earth Asteroids">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Styles -->
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="icon" type="image/png" href="images/code_society_round.png">

	<!-- jQuery and DataTables -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

	<title>Near Earth Asteroids</title>

</head>

<body class="center">
	<h1>Near Earth Object Data</h1>
	<hr>
	<p class="center">
		Welcome to the Near Earth Object (NEO) tracking app. Here is today's summary data about Near Earth Celestial
		Objects.
	</p>
	<hr>

	<p class="center">Number of Asteroids Detected Today: {{ num_of_object }}</p>

	<table id="neoTable" class="display responsive nowrap">
		<thead>
			<tr>
				<th>Name</th>
				<th>First Observed</th>
				<th>Last Observed</th>
				<th>Velocity (km/h)</th>
				<th>Velocity (miles/h)</th>
				<th>Hazardous Object?</th>
			</tr>
		</thead>
		<tbody>
			{% for asteroid in neo_info.values() %}
			<tr>
				<td data-label="Name">{{ asteroid['name'] }}</td>
				<td data-label="First Observed">{{ asteroid['first_observation'] }}</td>
				<td data-label="Last Observed">{{ asteroid['last_observation'] }}</td>
				<td data-label="Velocity (km/h)">{{ asteroid['velocity_km'] | int }}</td>
				<td data-label="Velocity (miles/h)">{{ asteroid['velocity_miles'] | int }}</td>
				<td data-label="Hazardous Object?">{{ asteroid['hazardous'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="top-nav">
		<a href="/neo-data">View More NEO Data</a>
	</div>

	<hr>

	<h2>Data Explained</h2>
	<p>This table represents data related to various celestial objects, specifically asteroids, that have been observed
		and tracked over a period of time. The table includes a subset of the following information:</p>
	<ul>
		<li><strong>Name:</strong> Provides the name or designation of the celestial object, often including the year of its
			discovery.</li>
		<li><strong>First Observed:</strong> Represents the first known date when the celestial object was observed or
			discovered.</li>
		<li><strong>Last Observed:</strong> Represents the most recent observation or tracking of the celestial object.</li>
		<li><strong>Velocity:</strong> Indicates the relative velocity of the celestial object with respect to Earth, given
			in both kilometers per hour and miles per hour.</li>
		<li><strong>Hazardous Object?:</strong> Indicates whether the celestial object is considered hazardous.</li>
	</ul>
	<p>In summary, this data represents a subset of information about various asteroids detected near Earth.</p>
	<hr>

	<script>
		$(document).ready(function () {
			$('#neoTable').DataTable({
				"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
				"lengthChange": true,
				"pageLength": 25,
				"language": {
					"sSearch": "",
					"searchPlaceholder": "🔍 Search",
					"zeroRecords": "No matching records found",
					"info": "Showing _START_ to _END_ of _TOTAL_ records",
					"infoEmpty": "No records available",
					"infoFiltered": "(filtered from _MAX_ total records)",
				},
				"info": true,
				"order": [2, 'desc'],
				"ordering": true,
				"autoWidth": false,
				"responsive": true,
				"paging": true,
				"columnDefs": [
					{
						"targets": [0, 2],
						"responsivePriority": 1
					}
				],
			});
		});

	</script>
</body>

</html>