<!DOCTYPE html>
<html>

<head>
	<!-- Metas -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="Astra Dedman">
  <meta name="title" content="Near Earth Asteroids">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="../static/style.css">

  <!-- jQuery and DataTables -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

	<title>Near Earth Asteroids</title>
</head>

<body>
	<div class="top-nav">
		<a href="/">HOME</a>
	</div>

	<hr>
	<h1>Near Earth Object Data</h1>
	<hr>

	<p class="center">
		Please specify the date range for which you would like to retrieve Near-Earth Object information:
	</p>

	<form method="post" action="/neo-data" onsubmit="return validateDates()">
		<div class="date-inputs">
			<label for="start_date">Start Date:</label>
			<input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>

			<label for="end_date">End Date:</label>
			<input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
		</div>

		<input type="submit" value="Submit">
	</form>

	<hr>

	<p class="center">Number of Asteroids Detected: {{ num_of_object }}</p>

	<table id="neoTable" class="display responsive wrap" border="1">
		<thead>
			<tr>
				<th>Object ID</th>
				<th>Name</th>
				<th>First Observed</th>
				<th>Last Observed</th>
				<th>Hazardous Object?</th>
				<th>Close Approach</th>
				<th>Current Orbit</th>
				<th>Estimated Diameter</th>
				<th>Orbiting Bodies</th>
				<th>Relative Velocity</th>
				<th>Orbit Description</th>
			</tr>
		</thead>
		<tbody>
			{% for asteroid in neo_info.values() %}
			<tr>
				<td data-label="Object ID">{{ asteroid['id'] }}</td>
				<td data-label="Name">{{ asteroid['name'] }}</td>
				<td data-label="First Observed">{{ asteroid['first_observation'] }}</td>
				<td data-label="Last Observed">{{ asteroid['last_observation'] }}</td>
				<td data-label="Hazardous Object?">{{ asteroid['hazardous'] }}</td>
				<td data-label="Close Approach">{{ asteroid['close_approach_date'] }}</td>
				<td data-label="Current Orbit">{{ asteroid['current_orbiting_body'] }}</td>
				<td data-label="Estimated Diameter">
					{{ asteroid['diameter_meter']['estimated_diameter_min'] | int }}m - {{
					asteroid['diameter_meter']['estimated_diameter_max'] | int }}m
					<br>
					{{ asteroid['diameter_feet']['estimated_diameter_min'] | int }}ft - {{
					asteroid['diameter_feet']['estimated_diameter_max'] | int }}ft
				</td>
				<td data-label="Orbiting Bodies">{{ ', '.join(asteroid['orbiting_bodies']) }}</td>
				<td data-label="Relative Velocity">
					{{ asteroid['velocity_km'] | float | round(2) }} km/h
					<br>
					{{ asteroid['velocity_miles'] | float | round(2) }} miles/h
				</td>
				<td data-label="Orbit Description">{{ asteroid['orbit_type_description'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<hr>

	<h2>Data Explained</h2>
	<p>This table represents data related to various celestial objects, specifically asteroids, that have been observed
		and tracked over a period of time. The table includes the following information:</p>
	<ul>
		<li><strong>Object ID:</strong> Unique identifier for each celestial object in the dataset.</li>
		<li><strong>Name:</strong> Provides the name or designation of the celestial object, often including the year of
			its discovery.</li>
		<li><strong>First Observed:</strong> Represents the first known date when the celestial object was observed or
			discovered.</li>
		<li><strong>Last Observed:</strong> Represents the most recent observation or tracking of the celestial object.
		</li>
		<li><strong>Hazardous Object?:</strong> Indicates whether the celestial object is considered hazardous.</li>
		<li><strong>Close Approach:</strong> Specifies the next predicted close approach date and time of the celestial
			object to Earth.</li>
		<li><strong>Current Orbit:</strong> Mentions the celestial body or bodies that the object is currently orbiting.
		</li>
		<li><strong>Estimated Diameter:</strong> Provides an estimated range of the diameter of the celestial object,
			expressed in both meters and feet.</li>
		<li><strong>Orbiting Bodies:</strong> Lists the celestial bodies that the object is known to be orbiting.</li>
		<li><strong>Relative Velocity:</strong> Indicates the relative velocity of the celestial object with respect to
			Earth, given in both kilometers per hour and miles per hour.</li>
		<li><strong>Orbit Description:</strong> Provides a brief description of the object's orbit, including
			information about its similarity to the orbit of specific asteroids like 1862 Apollo or 2062 Aten.</li>
	</ul>
	<p>In summary, this data represents a collection of information about various asteroids, including their observation
		history, physical characteristics, orbital details, and whether they pose a hazard to Earth.</p>
	<hr>

	<script>
		$(document).ready(function () {
			$('#neoTable').DataTable({
				"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
				"lengthChange": true,
				"pageLength": 25,
				"language": {
					"sSearch": "",
					"searchPlaceholder": "🔍 Search",
					"zeroRecords": "No matching records found",
					"info": "Showing _START_ to _END_ of _TOTAL_ records",
					"infoEmpty": "No records available",
					"infoFiltered": "(filtered from _MAX_ total records)",
				},
				"info": true,
				"order": [3, 'desc'],
				"ordering": true,
				"autoWidth": false,
				"responsive": true,
				"paging": true,
				"columnDefs": [
					{
						"targets": [0, 3],
						"responsivePriority": 1
					}
				],
			});
		});

		function validateDates() {
			var startDate = new Date(document.getElementById("start_date").value);
			var endDate = new Date(document.getElementById("end_date").value);

			if (startDate > endDate) {
				alert("Start Date cannot be after End Date.");
				return false;
			}

			return true;
		}
	</script>
</body>

</html>